#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

#graph {
  width: auto;
  height: 60%;
  display: flex;
  align-self: center;
  position: absolute;
  top: 8.2%; /* Fixes whitespace issue at top of page */
}

#bar {
  /*background-color: #7A7EFF;*/
  width: 2px;
  height: 100%;
  margin: 0px 0.5px 0px 0.5px;
}

#navbar {
  background-color: #474CFF;
  margin-top: 0px;
  height: 8vh;
  width: 100vw;
  top: 0;
  align-self: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  font-family: Montserrat, monospace;
  font-size: 15px;
  font-weight: 600;
  color: white;
  margin: 0px 8px 0px 8px;
  user-select: none;
}

.nav-button:hover {
  cursor: pointer;
}

.separator {
  background-color: #FFFFFF;
  width: 1px;
  height: 60%;
  margin: 0px 14px 0px 14px;
}
